.headerSobremi{
    background: url(../assets/img/baan.jpg);
    background-size: cover;
    height: $ancho500;
    background-position: $centrar;
    background-repeat: no-repeat;
    background-attachment:fixed;
    .banner {
        display: $disf;
        flex-direction: row;
        justify-content: $centrar;
      }
    }

      nav{
        ul{
          li{
              display: $disin;
              color: nth($colores, 4);
              margin: 20px;
              padding: 0 20px;
              font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
              font-weight: 500;
              a{
              color: nth($colores, 4);
              text-decoration: none;
              &:hover {
                transform: scale(1.2);
                color: rgb(19, 222, 66);
            }

          }
        }
      }
    }

   

.mainPorfolio{

    h1 {
    font-size: $vh5;

    .descripcionPrincipal {
      padding: nth($size , 2);
      margin: nth($size , 2);
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      color: nth($colores, 4);
      font-size: larger;
    }
  }
}
    
.mainPorfolio{
      .tamanoLetraXl {
        font-size: nth($size , 4);
      
      .tipoLetra {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
    }
  }
  .mainPorfolio{
      .containerPorfolio {
        display: $disf;
        flex-wrap: wrap;
        height: 230vh;
        // width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1.5fr 2.4fr 1.5fr 2fr;
        // margin: 2% 2% 2% 2%;
        align-content: center;
        display: grid;
        grid-template-areas: "img1 img2 img3" "img4 img5 img5" "img4 img5 img5" "img6 img6 img7" "img6 img6 img7";
        grid-gap: nth($size , 10);
        grid-row-gap: nth($size , 10);
     }
    }


footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 30px;
      padding: 20px;
      background-color: #537895;
      background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);

      .tipoLetra {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      

      .alineacionCentro {
        justify-content: $centrar;
        color: nth($colores,4);
      

      .piePagina {
        background-color: rgba(31, 181, 174, 0.2745098039);
      }
    }
  }
}
  

.img1 {
  grid-area: img1;
  background-image: url(../assets/img/porfolio5.jpg);
  @extend %back;

}

.img2 {
  grid-area: img2;
  background-image: url(../assets/img/porfolio4.jpg);
  @extend %back;
}

.img3 {
  grid-area: img3;
  background-image: url(../assets/img/R\ \(3\).jpg);
  background-position: center;
  @extend %back;
}

.img4 {
  grid-area: img4;
  background-image: url(../assets/img/R\ \(2\).jpg);
  @extend %back;
}

.img5 {
  grid-area: img5;
  background-image: url(../assets/img/mainfoto.jpg);
  @extend %back;
}

.img6 {

  grid-area: img6;
  background-image: url(../assets/img/header.jpg);
  @extend %back;
}

.img7 {

  grid-area: img7;
  background-image: url(../assets/img/porfolio3.jpg);
  @extend %back;
}



      footer {
          .footerCam {
            @include dispflexycentrar;


          .footerNombre {
            @include dispflexycentrar;
            color: azure;

          .footerCopy{
            @include dispflexycentrar;
           color: azure;
         }
       }
      }
    }
  

    .redes{
      @include footerMix;
    }


.redes img{
    width: 60px;
}
.footerCam img{
    width: 250px;
}

